<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mywork.vipramilk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AddHolidaysActivity"></activity>
        <activity android:name=".activity.MilkmansProductDeliveryActivity" />
        <activity android:name=".activity.CustomersListOfRouteActivity" />
        <activity android:name=".activity.RouteCustListActivity" />
        <activity
            android:name=".activity.AddMilkmanActivity"
            android:label="Add MilkMan" />
        <activity
            android:name=".activity.MIlkmanListActivity"
            android:label="MilkMan List" />
        <activity
            android:name=".activity.AddRouteActivity"
            android:label="Add Route" />
        <activity
            android:name=".activity.RouteListActivity"
            android:label="Route List" />
        <activity
            android:name=".activity.CustomerListActivity"
            android:label="Customer List" />
        <activity
            android:name=".activity.AddCustomerActivity"
            android:label="Add Customer"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="Vipra Milk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>